#game-wrapper{
	padding: 30px;
}

#board-wrapper{
	background-color: black;
	width: 75%;
	max-width: 640px;
	min-width: 360px;
	margin: 0 auto;	
	overflow: hidden;
}

.row{
    overflow: hidden;
    margin-bottom: 5%;
}
#row3{
	margin-bottom: 0px;
}

.num-players{
	margin: 20px auto;
	width: 60%;
	text-align: center;
}

#play-again{
	display: none;
	text-align: center;
}

.num-players button, #play-again button{
	width: 120px;
	padding: 0px 5px;
	background-color: #ddd;
	font-size: 18px;
	border-radius: 10px;
	color: black;
}

#play-again button{
	width: 200px;
}

.blink.square{
    font-size: 120px;
}


.square{
	display: inline-block;
	width: 10%;
	background: white;
	margin-left: 5%;
	padding: 30px 0;
	font-size: 80px;
	float: left;
	border: none;
	transition: all .2s;
}


.left{
	margin-left: 0px;
}	

#game-header{
	font-size: 30px;
	font-weight: bold;
	background-color: green;
	color: white;
	border-radius: 10px;
	width: 60%;
	text-align: center;
	margin: 0 auto 25px;
}

#game-header.red{
	background-color: #ff0000;
}

#game-header.player-one{
	background-color: green;
}

#game-header.player-two{
	background-color: #0000ff;
}

.winner{
	background: green;
}
