#game-wrapper{
	padding: 30px;
}

#board-wrapper{
	background-color: black;
	width: 75%;
	max-width: 640px;
	min-width: 360px;
	margin: 0 auto;	
	overflow: hidden;
}

#row1, #row2, #row3{
    overflow: hidden;
    margin-bottom: 5%;
}
#row3{
	margin-bottom: 0px;
}


.square{
	display: inline-block;
	width: 30%;
	background: white;
	margin-left: 5%;
	padding: 30px 0;
	font-size: 80px;
	float: left;
	border: none;
}

.left{
	margin-left: 0px;
}	

#game-header{
	font-size: 30px;
	font-weight: bold;
	background-color: green;
	color: white;
	border-radius: 10px;
	width: 60%;
	text-align: center;
	margin: 0 auto 25px;
}

#game-header.red{
	background-color: #ff0000;
}

#game-header.player-one{
	background-color: green;
}

#game-header.player-two{
	background-color: #0000ff;
}

